@page "/pizza"
@using FrontPizza.ViewModels;
@using PizzaOnline.DAL.Models;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject Data.PizzaService pizzaService

<h3>Pizza</h3>
@if (pizza == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NamePizza</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in pizza)
            {
                <tr>
                    <td>@pizza.id</td>
                    <td>@pizza.namePizza</td>
                    <td>@pizza.size</td>
                    <td>@pizza.price</td>
                </tr>
            }
        </tbody>
    </table>
    <button @onclick="PrevPage">Prev</button>
    <span>@pageNum</span>
    <button @onclick="NextPage">Next</button>

}
@code {
    List<PizzaViewModel> pizza;
    private int pageNum = 1;
    private int pageSize = 2;
    protected override async Task OnInitializedAsync()
    {
        pizza = await pizzaService.GetPizzaAsync(new PizzaQueryParameters { PageSize = pageSize, PageNumber = pageNum });

    }
    public async Task NextPage()
    {
        pageNum++;
        pizza = await pizzaService.GetPizzaAsync(new PizzaQueryParameters { PageNumber = pageNum, PageSize = pageSize });
    }
    public async Task PrevPage()
    {
        if (pageNum > 1)
        {
            pageNum--;
            pizza = await pizzaService.GetPizzaAsync(new PizzaQueryParameters { PageNumber = pageNum, PageSize = pageSize });
        }
    }
}