@page "/pizza"

@using FrontPizza.ViewModels;
@inject Data.PizzaService pizzaService

<h3>Pizza</h3>
@if (pizza == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NamePizza</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in pizza)
            {
            <tr>
                <td>@pizza.id</td>
                <td>@pizza.namePizza</td>
                <td>@pizza.size</td>
                <td>@pizza.price</td>
            </tr>
            }
        </tbody>
    </table>
    @*<button @onclick="PrevPage">Prev</button>
    <span>@pageNum</span>
    <button @onclick="NextPage">Next</button>*@

}
@code {
    List<PizzaViewModel> pizza;
    protected override async Task OnInitializedAsync()
    {
        pizza = await pizzaService.GetPizzaAsync();        

    }
    //public void NextPage()
    //{
    //    pageNum++;
    //    pizza = pizzaService.GetPizza(new PizzaQueryParameters() { PageSize = pageSize, PageNumber = pageNum });
    //}
    //public void PrevPage()
    //{
    //    if (pageNum > 1)
    //    {
    //        pageNum--;
    //        pizza = pizzaService.GetPizza(new PizzaQueryParameters() { PageSize = pageSize, PageNumber = pageNum });
    //    }
    //}
}