@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<LoginDisplay> L
<AuthorizeView>
    <Authorized>
        @L["Hello"], @context.User.Identity.Name!
        <a href="/account">@L["Account"]</a>
        <a href="/logout">@L["Log out"]</a>
    </Authorized>
    <NotAuthorized>
        <a href="/register">@L["Register"]</a>
        <a href="/login">@L["Login"]</a>
    </NotAuthorized>
</AuthorizeView>
